---
import styles from "../styles/Footer.module.css";     
import bannerDesktop from "../assets/banner-desktop.gif"; 
import logo from "../assets/logo.png"; 
import iconoLi from "../assets/icono-linkdein.png";  
import iconoFb from "../assets/icono-facebook.png"; 
import iconoIg from "../assets/icono-instagram.png"; 
import iconoTik from "../assets/icono-tiktok.png"; 
import logoOnePlanet from "../assets/logo-one-planet.png"; 
import logoComercio from "../assets/logo-camara-comercio.webp";  
import logoTop from "../assets/worlds-top.webp";  

--- 

 
<div class="hero-banner">
  <img src={bannerDesktop.src} alt="Banner animado" />
</div>


                                                        <!--FOOTER MOVIL -->
<footer class="footer-section">
        <img src={logo.src} class="footer-logo" alt=""/> 
     
  <p class="footer-copy">© Copyright 2025</p> 


  <p class="footer-highlight">Políticas de Privacidad y Uso de Cookies</p>

 
  <div class="footer-icons">
    <img src={iconoLi.src} class="footer-icon" alt=""/> 
   <img src={iconoFb.src} class="footer-icon" alt=""/> 
   <img src={iconoIg.src} class="footer-icon" alt=""/> 
   <img src={iconoTik.src} class="footer-icon" alt=""/> 
  </div>

  <!-- barra de iconos con fondo extendido -->
  <div class={styles.iconsFullWidth}>
    <div class={styles.iconsWrapper}>
      <div class={styles.footerIcons}>
        <a href="#" aria-label="LinkedIn">
          <img src={iconoLi.src} class={styles.footerIcon} alt="LinkedIn" />
        </a>
        <a href="#" aria-label="Facebook">
          <img src={iconoFb.src} class={styles.footerIcon} alt="Facebook" />
        </a>
        <a href="#" aria-label="Instagram">
          <img src={iconoIg.src} class={styles.footerIcon} alt="Instagram" />
        </a>
        <a href="#" aria-label="TikTok">
          <img src={iconoTik.src} class={styles.footerIcon} alt="TikTok" />
        </a>
      </div>
    </div>
  </div>

  <div class={styles.sponsorsArea}>
    <p class={styles.footerMessage}>PATROCINADORES OFICIALES</p>

    <div class={styles.footerSponsors}>
      <img src={logoOnePlanet.src} alt="One Planet" />
      <img src={logoTop.src} alt="Worlds Top" />
      <img src={logoComercio.src} alt="Cámara de Comercio" />
    </div>

    <p class={styles.footerSmall}>
      Oberstaff es una empresa comprometida con la calidad y la excelencia en el servicio. Todos los derechos reservados.
    </p>
  </div>
</footer>
