---
import styles from "../styles/footer.module.css";      
import bannerDesktop from "../assets/banner-desktop.gif"; 
import logo from "../assets/logo.png"; 
import iconoLi from "../assets/icono-linkdein.png";  
import iconoFb from "../assets/icono-facebook.png"; 
import iconoIg from "../assets/icono-instagram.png"; 
import iconoTik from "../assets/icono-tiktok.png"; 
import logoOnePlanet from "../assets/logo-one-planet.png"; 
import logoComercio from "../assets/logo-camara-comercio.webp";  
import logoTop from "../assets/worlds-top.webp";  

--- 
<div class={styles["hero-banner"]}>
  <img src={bannerDesktop.src} alt="Banner animado" />
</div>

<!-- FOOTER MOVIL -->
<footer class={styles["footer-section"]}>
  <img src={logo.src} class={styles["footer-logo"]} alt=""/> 
     
  <p class={styles["footer-copy"]}>© Copyright 2025</p> 

  <p class={styles["footer-highlight"]}>Políticas de Privacidad y Uso de Cookies</p>

  <div class={styles["footer-icons"]}>
    <img src={iconoLi.src} class={styles["footer-icon"]} alt=""/> 
    <img src={iconoFb.src} class={styles["footer-icon"]} alt=""/> 
    <img src={iconoIg.src} class={styles["footer-icon"]} alt=""/> 
    <img src={iconoTik.src} class={styles["footer-icon"]} alt=""/> 
  </div>

  <p class={styles["footer-message"]}>PATROCINADORES OFICIALES</p>

  <div class={styles["footer-sponsors"]}>
    <img src={logoOnePlanet.src}  alt=""/>  
    <img src={logoTop.src}  alt=""/> 
    <img src={logoComercio.src}  alt=""/> 
  </div>

  <p class={styles["footer-small"]}>
    Oberstaff es una empresa comprometida con la calidad y la excelencia en el servicio. Todos los derechos reservados.
  </p>
</footer>

<!-- FOOTER DESKTOP -->
<footer class={styles["footer-desktop"]}>
  <div class={styles["footer-top-row"]}>
    <img src={logo.src} class={styles["footer-logo-desktop"]} alt="Logo Oberstaff" />
    <p class={styles["footer-message-desktop"]}>PATROCINADORES OFICIALES</p>
    <div class={styles["footer-icons-desktop"]}>
      <img src={iconoLi.src} class={styles["footer-icon-desktop"]} alt="LinkedIn" />
      <img src={iconoFb.src} class={styles["footer-icon-desktop"]} alt="Facebook" />
      <img src={iconoIg.src} class={styles["footer-icon-desktop"]} alt="Instagram" />
      <img src={iconoTik.src} class={styles["footer-icon-desktop"]} alt="TikTok" />
    </div>
  </div>

  <div class={styles["footer-sponsors-row"]}>
    <div class={styles["footer-sponsors-desktop"]}>
      <img src={logoOnePlanet.src} alt="One Planet" />
      <img src={logoTop.src} alt="Top" />
      <img src={logoComercio.src} alt="Comercio" />
    </div>
  </div>

  <div class={styles["footer-bottom-row"]}>
    <p class={styles["footer-highlight-desktop"]}>Políticas de Privacidad y Seguridad</p>
    <p class={styles["footer-copy-desktop"]}>© Copyright 2025</p>
  </div>

  <p class={styles["footer-small-desktop"]}>
    Oberstaff es una empresa comprometida con la calidad y la excelencia en el servicio. Todos los derechos reservados.
  </p>
</footer>
