---
import mujerLaptop from "../assets/mujer-laptop.png";
import banner from "../assets/banner.mp4";
import perfil1 from "../assets/perfil1.jpg";
import perfil2 from "../assets/perfil2.jpg";
import perfil3 from "../assets/perfil3.jpg";
import videoPrincipal from "../assets/Video-principal.mp4";
import { faPhoneVolume } from "@fortawesome/free-solid-svg-icons";
import iconoGrupo from "../assets/icono-grupo.png";
import iconoLupa from "../assets/icono-lupa.png";
import iconoMoney from "../assets/icono-money.png";
//import { faMagnifyingGlass } from "@fortawesome/free-solid-svg-icons";
//import { faUsers } from "@fortawesome/free-solid-svg-icons";
import { icon } from "@fortawesome/fontawesome-svg-core";
---

<section class="hero">
  <div class="container hero-grid">
    <div class="hero-text">
      <h2>
        Contrata diferente.<br />
        <span class="highlight">Crece sin límites.</span>
      </h2>
      <p>
        Accede a profesionales que trabajen en remoto para tu empresa, y 
        <span class="highlight">ahorra hasta un 70%</span> en comparación con la contratación tradicional.
      </p>

<!--<a href="#" class="btn-primary">AGENDA UNA LLAMADA GRATIS</a>
       -->
      
       <button class="btn-primary">
        <span class="icono-telefono" set:html={icon(faPhoneVolume).html[0]}></span>
        AGENDA UNA LLAMADA GRATIS
      </button>

    </div>


    <div class="hero-image">
    <img src={mujerLaptop.src} alt="" />
    </div>

<div class="hero-video">
  <video autoplay muted loop playsinline>
    <source src={banner} type="video/mp4" />
    
  </video>

 
 

</div>

  </div>
</section>

<section class="profiles-section">
  <div class="profiles-container">
    <div class="profile-card">
      <img src={perfil3.src} alt="" class="profile-img" />
      <img src={perfil2.src} alt="" class="profile-img" />
      <img src={perfil1.src} alt="" class="profile-img" />
      <p>+5000 empresas confían en nosotros</p>
      <div class="stars">★★★★★</div>
    </div>


</section>

 <div class="video-container">
    <video id="video-principal" controls playsinline>
      <source src={videoPrincipal} type="video/mp4" />
      Tu navegador no soporta video.

<script src="./scripts/video-principal.js" type="module"></script>

    </video>
  </div>  

<section class="que-hacemos-section">
  <h2>¿Qué hacemos?</h2>
  <p>
    Conectamos empresas con talento profesional   <span class="alto-nivel">de alto nivel</span> en Sudamérica, ofreciendo soluciones que benefician ambas partes.
  </p>


<div class="info-cards">
    <div class="info-card1">
      <h3>Búsqueda y Selección</h3>
      <p>Simplificamos todo el proceso de encontrar el talento ideal para tu empresa, ahorrándote tiempo y recursos.</p>
    
       <div class="mini-card">
        <!-- 
       <span class="icono-busqueda" set:html={icon(faMagnifyingGlass).html[0]}></span>
       -->

       <!-- 
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icono-busqueda">
    <path fill="#FF65C3" d="M505 442.7L405.3 343c28.3-34.9 45.3-79 45.3-127C450.6 97.9 352.7 0 225.3 0S0 97.9 0 216.1 97.9 432.2 225.3 432.2c48 0 92.1-17 127-45.3L442.7 505c4.5 4.5 10.6 7 17 7s12.5-2.5 17-7c9.4-9.4 9.4-24.6 0-34zM225.3 382.2c-91.7 0-166-74.3-166-166S133.6 50.2 225.3 50.2s166 74.3 166 166-74.3 166-166 166z"/>
  </svg>
  -->
  <img src={iconoLupa.src} alt="" class="icono-busqueda" />

    </div>
    
    </div>

     <div class="info-card2">
      <h3>Profesionales Comprometidos</h3>
      <p>Contratamos expertos motivados y dedicados a impulsar tu negocio con sus habilidades y conocimientos.</p>
   
    <div class="mini-card2">

<!--
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icono-users" ><path fill="#000000" d="M320 80C377.4 80 424 126.6 424 184C424 241.4 377.4 288 320 288C262.6 288 216 241.4 216 184C216 126.6 262.6 80 320 80zM96 152C135.8 152 168 184.2 168 224C168 263.8 135.8 296 96 296C56.2 296 24 263.8 24 224C24 184.2 56.2 152 96 152zM0 480C0 409.3 57.3 352 128 352C140.8 352 153.2 353.9 164.9 357.4C132 394.2 112 442.8 112 496L112 512C112 523.4 114.4 534.2 118.7 544L32 544C14.3 544 0 529.7 0 512L0 480zM521.3 544C525.6 534.2 528 523.4 528 512L528 496C528 442.8 508 394.2 475.1 357.4C486.8 353.9 499.2 352 512 352C582.7 352 640 409.3 640 480L640 512C640 529.7 625.7 544 608 544L521.3 544zM472 224C472 184.2 504.2 152 544 152C583.8 152 616 184.2 616 224C616 263.8 583.8 296 544 296C504.2 296 472 263.8 472 224zM160 496C160 407.6 231.6 336 320 336C408.4 336 480 407.6 480 496L480 512C480 529.7 465.7 544 448 544L192 544C174.3 544 160 529.7 160 512L160 496z"/></svg>
     -->

    <img src={iconoGrupo.src} alt="" class="icono-users" />
    
  
  </div>

    </div>

     <div class="info-card1">
      <h3>Ahorro Significativo</h3>
      <p>Ahorra hasta un 70% en costos de personal mientras ofreces salarios competitivos a profesionales talentosos.</p>
    
      <div class="mini-card3">

     <!-- 
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-money"><path fill="#FF65C3" d="M64 173.5L64 483.6C64 503 75.8 520.9 94.3 526.9C188.3 556.9 253.1 535.3 317.6 513.8C380 493 442 472.3 529.7 498.5C551.9 505.1 575.9 489.7 575.9 466.5L575.9 156.4C575.9 137 564.1 119.1 545.6 113.1C451.6 83.1 386.8 104.7 322.3 126.2C259.9 147 197.9 167.7 110.2 141.5C88 134.9 63.9 150.3 63.9 173.5zM320 432C267 432 224 381.9 224 320C224 258.1 267 208 320 208C373 208 416 258.1 416 320C416 381.9 373 432 320 432zM191.1 469.5C191.8 473.9 188.3 477.6 183.9 477.6C168.2 477.6 151.8 475.8 133.9 471.5C130.4 470.7 127.9 467.5 127.9 463.8L128 424C128 419.6 131.6 415.9 136 416.5C164.1 420 186.6 441.7 191.2 469.5zM512 418.6C512 423.6 507.4 427.4 502.5 426.6C487.1 424.1 472.3 422.7 458.1 422.3C453.2 422.2 449.4 417.8 450.9 413.1C458.2 389.4 478.9 371.7 504.1 368.5C508.5 368 512.1 371.6 512.1 376L512.1 418.6zM504 223.5C475.9 220 453.4 198.3 448.8 170.5C448.1 166.1 451.6 162.4 456 162.4C471.7 162.4 488.1 164.2 506 168.5C509.5 169.3 512 172.5 512 176.2L512 216.1C512 220.5 508.4 224.2 504 223.6zM181.9 217.7C186.8 217.8 190.6 222.2 189.1 226.9C181.8 250.6 161.1 268.3 135.9 271.5C131.5 272 127.9 268.4 127.9 264L127.9 221.4C127.9 216.4 132.5 212.6 137.4 213.4C152.8 215.9 167.6 217.3 181.8 217.7zM304 252C293 252 284 261 284 272C284 281.7 290.9 289.7 300 291.6L300 340L296 340C285 340 276 349 276 360C276 371 285 380 296 380L344 380C355 380 364 371 364 360C364 349 355 340 344 340L340 340L340 272C340 261 331 252 320 252L304 252z"/></svg>
    -->

    <img src={iconoMoney.src} alt="" class="icono-money" />
    
    </div>
    
    </div>


  </div>


<div class="cards">
  <div class="card1">
    <div class="icon-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
    <h3 class="card-title">Talento Profesional</h3>
    <p class="cards-text">
      Con Oberstaff, puedes acceder a <span class="cards-talento">talento profesional altamente calificado</span> en América Latina que trabaja 100% de forma remota para ti, a una fracción des coste de tener empleados de plantilla local.
    </p>
    <div class="dashed-line"></div>
    <p class="card-text1">
     Gracias a nuestro servicio de outsourcing simplificamos todo el proceso: desde la búsqueda y selección, hasta la contratación de profesionales comprometidos y motivados.
    </p>
  </div>

  <div class="card1">
    <div class="icon-container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M296 88C296 74.7 306.7 64 320 64C333.3 64 344 74.7 344 88L344 128L400 128C417.7 128 432 142.3 432 160C432 177.7 417.7 192 400 192L285.1 192C260.2 192 240 212.2 240 237.1C240 259.6 256.5 278.6 278.7 281.8L370.3 294.9C424.1 302.6 464 348.6 464 402.9C464 463.2 415.1 512 354.9 512L344 512L344 552C344 565.3 333.3 576 320 576C306.7 576 296 565.3 296 552L296 512L224 512C206.3 512 192 497.7 192 480C192 462.3 206.3 448 224 448L354.9 448C379.8 448 400 427.8 400 402.9C400 380.4 383.5 361.4 361.3 358.2L269.7 345.1C215.9 337.5 176 291.4 176 237.1C176 176.9 224.9 128 285.1 128L296 128L296 88z"/></svg>

    </div>
    <h3 class="card-title">Beneficio Mutuo</h3>
    <p class="cards-text">
    Estos expertos no solo están <span class="cards-talento">dedicados a impulsar tu negocio,</span> si no que también tienen la oportunidad de mejorar su calidad de vida, ganando salarios más competitivos que los disponibles en sus países.
    </p>
    <div class="dashed-line"></div>
    <p class="card-text1">
      Todo esto mientras tú ahorras hasta un 70% en costos de personal comparado con la contratación local.
    </p>
  </div>
</div>


 <button class="btn-primary2">¿ESTÁS INTERESADO?</button>


  

</section>


<style>
.hero {
  background: linear-gradient(to bottom, #fff 0%, #fff 80%, #f8f8f8 100%);
  padding-top: 25px;
}

.hero-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-text {
  margin-bottom: 2rem;
  
}

.hero-text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 25px;
  font-weight: 800;
  line-height: 1;
}

.hero-text p {
    font-family: 'Inter', sans-serif;
  font-size: 15px;
  max-width: 400px;
  margin: 0 auto 1.5rem;
  color: #000000;
  font-weight: 400;
  line-height: 1.1;
}

 .hero-content {
      max-width: 100%;
    }

.hero-image {
  flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 12px;
  
  }

.hero-image img {
background: linear-gradient(to bottom, #ffffff 0%, rgb(243, 163, 212) 50%, #ffffff 100%);
  width: 160%; 
    max-width: none; /* eliminamos el límite */
    height: auto;
    margin-top: -3rem;
    display: block;
    transform: translateX(-15%); /* la desplazamos un poco hacia la izquierda */
}

.highlight{
  color: #FF65C3;
}

.btn-primary {
    font-family: 'Poppins', sans-serif;
  display: inline-flex;
  justify-content: center;
  gap: 0.4rem;
  padding: 10px;
  background-color: #E860B9;
  color: #FFFFFF;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 999px;
  font-weight: 700;
cursor: pointer;
  text-align: center;
  

}

.profiles-section {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: 0;
}

.profiles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0; /* quitamos espacio normal */
}

.profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;

  margin-left: -20px; 
}

.profile-img:first-child {
  margin-left: 0; 
}

.profile-card p {
  font-family: 'Inter', sans-serif;
  color: #000000;
  margin-top: 0.3rem;
  font-size: 1rem;
}

.stars {
  margin-top: 0.2rem;
  color: #FABF27;
  font-size: 1.1rem;
}


.profiles-section {
  text-align: center;
  margin: 0;
  padding: 1.5rem 1rem;
}

.video-container {
  margin-top: 0.8rem; /* pequeño margen desde las estrellas */
  display: flex;
  justify-content: center;
}

.video-container video {
  width: 90%;          /* ocupa casi todo el ancho del móvil */
  max-width: 320px;    /* no pasa de este tamaño */
  border-radius: 12px; /* bordes redondeados */
  object-fit: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}



.que-hacemos-section {
 background-color: #FFD5EE; 
  margin-top: 2rem;          /* margen respecto al video */
  padding: 2rem 1.5rem;      /* espacio interno */
  text-align: center;
  color: black;
  border-radius: 70px;
}

.que-hacemos-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: #FF65C3;
  font-weight: 800;
}

.que-hacemos-section p {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
    line-height: 1.1;
}

.alto-nivel{
  color: #FF65C3; 

}


.info-cards {
  margin-top: 1.8rem; /* espacio debajo del párrafo principal */
  display: flex;
  flex-direction: column; /* uno debajo del otro */
  gap: 1rem; /* separación entre cards */
  align-items: center;
  
}



.info-card1 {
   position: relative; 
  background: #25262B;
  padding: 1.6rem;
  border-radius: 20px;
  width: 100%;
  max-width: 280px;
  text-align: left;
 
  transform: rotate(-4deg);
      margin-bottom: -15px;
}

.info-card1 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  color: #FFFFFF;
 
}

.info-card1 p {
  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #FFFFFF;
    line-height: 1.1;
}

.mini-card {
  position: absolute;
  top: -10px; /* sobresale hacia arriba */
  right: -10px; /* sobresale hacia la derecha */
  background: #FFFFFF; /* color distintivo */
  color: black;
  padding: 0.3rem 0.4rem;
  border-radius: 8px;
  font-size: 0.75rem;
 
  
}


.mini-card2 {
  position: absolute;
  bottom: -10px; /* sobresale hacia arriba */
  left: -10px; /* sobresale hacia la derecha */
  background: #FFFFFF; /* color distintivo */
  color: black;
  padding: 0.3rem 0.4rem;
  border-radius: 8px;
  font-size: 0.75rem; 
}

.mini-card3 {
  position: absolute;
  bottom: -10px; /* sobresale hacia arriba */
  right: -10px; /* sobresale hacia la derecha */
  background: #FFFFFF; /* color distintivo */
  color: black;
  padding: 0.3rem 0.4rem;
  border-radius: 8px;
  font-size: 0.75rem; 
}

.info-card2 {
   position: relative; 
  background: #FF65C3;
  padding: 1.6rem;
  border-radius: 20px;
  width: 100%;
max-width: 280px;
  text-align: left;
 
    transform: rotate(4deg);
        margin-bottom: -15px;
}

.info-card2 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  color: #FFFFFF;
}

.info-card2 p {
  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #FFFFFF;
    line-height: 1.1;
}



.cards {
 margin-top: 4rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;         /* habilita scroll horizontal */
  scroll-snap-type: x mandatory; /* hace que cada card se “pegue” al centro */
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
  
}

.card1 {
   flex: 0 0 85%; /* cada card ocupa 85% del ancho de la pantalla */
  background: #FFFFFF;
  border-radius: 20px;
  padding: 1.6rem;
  text-align: left;
  scroll-snap-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon-img {
  width: 40px;
  height: 40px;
}

.card-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #25262B;
  margin-bottom: 20px;
  font-weight: 700;
}

.cards-text {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  line-height: 1.1;
  color: #25262B; 
  
}



.cards-talento{
  color: #FF65C3;
}



.dashed-line {
  border-top: 2px dashed #ccc; /* línea punteada */
  margin: 1rem auto;
  width: 100%; /* ancho de la línea */
}


.card1 .card-text1{
  text-align: justify; /*justify*/
   text-justify: inter-word; 
  font-size: 0.7rem; 
  font-family: 'Inter', sans-serif;
  color: #25262B;

}


.btn-primary2 {
    font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 10px;
  background-color: #E860B9;
  color: #FFFFFF;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 999px;
  font-weight: 700;

  text-align: center;
  margin-top: 50px;

}


.icono-telefono{
   width: 17px;   /* tamaño más pequeño */
  height: 17px;
  margin-right: 0.3rem; /* pequeño espacio entre ícono y texto */
  vertical-align: middle;
}



.icono-busqueda, .icono-users, .icono-maletin, .icono-money{
 width: 25px;        
  height: 25px;
  
}




.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #ffffff 0%, #f5a5d6 70%, #f59dd4 100%);
  width: 50px;
  height: 50px;
  border-radius: 30%; /* hace el fondo circular */
  margin: 0 auto 1rem auto; /* centra el círculo y deja margen abajo */
  box-shadow: 0 2px 6px rgba(0,0,0,0.15); /* leve sombra opcional */
}























@media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }

    .hero-image {
      width: 100%;
      padding-top: 1.5rem;
      padding-left: 1.5rem;
    }


    .hero-video{
      margin: 0;
  padding: 0;
  width: 100vw; /* ancho total de la ventana */
  overflow: hidden;
    }

    .hero-video video {
width: 100vw; /* ancho total */
  height: auto;
  display: block;
}
  

}
</style>
