---
import "../styles/HeroSection.css";  
import perfil1 from "../assets/perfil1.jpg";
import perfil2 from "../assets/perfil2.jpg";
import perfil3 from "../assets/perfil3.jpg";
import videoPrincipal from "../assets/Video-principal.mp4";
import { faPhoneVolume } from "@fortawesome/free-solid-svg-icons";
import { icon } from "@fortawesome/fontawesome-svg-core";   
import mapa from "../assets/Hero-animación-desktop.gif";  
 import bannerDesktop from "../assets/banner-desktop.gif"; 
---
  

                          <!--TITULO PRINCIPAL--> 
 
<section class="hero"> 
  <div class="container hero-grid">
    <div class="hero-text">
      <h2>
        Contrata diferente.<br />
        <span class="highlight">Crece sin límites.</span>
      </h2>
      <p>
        Accede a profesionales que trabajen en remoto para tu empresa, y 
        <span class="highlight">ahorra hasta un 70%</span> en comparación con la contratación tradicional.
      </p>

       <button class="btn-primary">
     <span class="icono-telefono" set:html={icon(faPhoneVolume).html[0]}></span> 
     <!--<img src={iconoTel.src} alt="" /> --> 
        AGENDA UNA LLAMADA GRATIS
      </button> 
 

<!--perfiles debajo del boton desktop -->

     <section class="profiles-desktop-section">
  <div class="profiles-desktop-card">
    <div class="profiles-desktop-images">
      <img src={perfil3.src} alt="" class="profile-desktop-img" />
      <img src={perfil2.src} alt="" class="profile-desktop-img" />
      <img src={perfil1.src} alt="" class="profile-desktop-img" />
    </div>
    <p>+5000 empresas confían en nosotros</p>
    <div class="desktop-stars">★★★★★</div>
  </div>
</section>
      </div>

                          <!--IMAGEN MAPA -->

    <div class="hero-image">
   <img src={mapa.src} alt="" />
    </div>                         
  </div>
</section>

                               <!--BANNER -->


 <div class="hero-banner">
  <ScrollingBanner/>
</div>


                               <!--VIDEO PRINCIPAL --> 

<section class="profiles-section">
  <div class="profiles-container">
    <div class="profile-card">
      <img src={perfil3.src} alt="" class="profile-img" />
      <img src={perfil2.src} alt="" class="profile-img" />
      <img src={perfil1.src} alt="" class="profile-img" />
      <p>+5000 empresas confían en nosotros</p>
      <div class="stars">★★★★★</div>
    </div>


</section>
 

<div class="video-container"> 
  <div class="video-wrapper">
    <video id="video-principal" playsinline controls>
      <source src={videoPrincipal} type="video/mp4" />
      
    </video>

  </div> 
</div>
 
<script src="./scripts/video-principal.js" type="module"></script> 


<!--video desktop -->

<div class="video-desktop-container">
  <div class="video-desktop-wrapper">
    <video id="video-principal-desktop" playsinline controls>
      <source src={videoPrincipal} type="video/mp4" />
    </video>
  </div>

  <div class="video-desktop-text">
    <h2>Descubre cómo contratar talento top<span style="color: #FF65C3; font-weight: bold;"> sin gastar de más.</span></h2>
  </div>
</div> 
<script src="./scripts/video-principal-desktop.js" type="module"></script>   
 

