---
import mujerLaptop from "../assets/mujer-laptop.png";
import banner from "../assets/banner.mp4";
import perfil1 from "../assets/perfil1.jpg";
import perfil2 from "../assets/perfil2.jpg";
import perfil3 from "../assets/perfil3.jpg";
import videoPrincipal from "../assets/Video-principal.mp4";
import { faPhoneVolume } from "@fortawesome/free-solid-svg-icons";
import iconoGrupo from "../assets/icono-grupo.png";
import iconoLupa from "../assets/icono-lupa.png";
import iconoMoney from "../assets/icono-money.png";
//import { faMagnifyingGlass } from "@fortawesome/free-solid-svg-icons";
//import { faUsers } from "@fortawesome/free-solid-svg-icons";
import { icon } from "@fortawesome/fontawesome-svg-core";
import logo from "../assets/logo.png";  
import logoOnePlanet from "../assets/logo-one-planet.png";   
import logoComercio from "../assets/logo-camara-comercio.png";  
import logoTop from "../assets/worlds-top.png"; 
import testimonio1 from "../assets/testimonio1.png"; 
import testimonio2 from "../assets/testimonio2.png"; 
import testimonio3 from "../assets/testimonio3.png"; 
import iconoLi from "../assets/icono-linkdein.png";  
import iconoFb from "../assets/icono-facebook.png"; 
import iconoIg from "../assets/icono-instagram.png"; 
import iconoTik from "../assets/icono-tiktok.png"; 
import iconoTel from "../assets/icono-telefono2.png"; 
import iconoPlay from "../assets/icono-play.png";
import iconoUser from "../assets/icono-user.png";
import iconoCalen from "../assets/icono-calendario.png";
---
   

                          <!--TITULO PRINCIPAL--> 
 
<section class="hero"> 
  <div class="container hero-grid">
    <div class="hero-text">
      <h2>
        Contrata diferente.<br />
        <span class="highlight">Crece sin límites.</span>
      </h2>
      <p>
        Accede a profesionales que trabajen en remoto para tu empresa, y 
        <span class="highlight">ahorra hasta un 70%</span> en comparación con la contratación tradicional.
      </p>

       <button class="btn-primary">
        <span class="icono-telefono" set:html={icon(faPhoneVolume).html[0]}></span>
        AGENDA UNA LLAMADA GRATIS
      </button>

    </div>

                          <!--IMAGEN DE MUJER CON LAPTOP -->

    <div class="hero-image">
    <img src={mujerLaptop.src} alt="" />
    </div>


                                <!--BANNER -->

<div class="hero-video">
  <video autoplay muted loop playsinline>
    <source src={banner} type="video/mp4" />
    
  </video>

</div>

  </div>
</section>



                               <!--VIDEO PRINCIPAL --> 

<section class="profiles-section">
  <div class="profiles-container">
    <div class="profile-card">
      <img src={perfil3.src} alt="" class="profile-img" />
      <img src={perfil2.src} alt="" class="profile-img" />
      <img src={perfil1.src} alt="" class="profile-img" />
      <p>+5000 empresas confían en nosotros</p>
      <div class="stars">★★★★★</div>
    </div>


</section>


<!-- 
 <div class="video-container">
    <video id="video-principal" controls playsinline>
      <source src={videoPrincipal} type="video/mp4" />
      Tu navegador no soporta video.

<script src="./scripts/video-principal.js" type="module"></script>

    </video>
  </div>  
-->

<div class="video-container">
  <div class="video-wrapper">
    <video id="video-principal" playsinline controls>
      <source src={videoPrincipal} type="video/mp4" />
      
    </video>

    <div class="video-overlay">
      <div class="video-play-btn" id="videoPlayBtn">▶</div>
      <div class="video-caption" id="videoCaption">Descubre cómo contratar talento top <span class="highlight">sin gastar de más</span></div>
    </div>
  </div>
</div>
 
<script src="./scripts/video-principal.js" type="module"></script> 

 





                                  <!--QUE HACEMOS -->


<section class="que-hacemos-section">
  <h2>¿Qué hacemos?</h2>
  <p>
    Conectamos empresas con talento profesional   <span class="alto-nivel">de alto nivel</span> en Sudamérica, ofreciendo soluciones que benefician ambas partes.
  </p>


<div class="info-cards">
    <div class="info-card1">
      <h3>Búsqueda y Selección</h3>
      <p>Simplificamos todo el proceso de encontrar el talento ideal para tu empresa, ahorrándote tiempo y recursos.</p>
    
       <div class="mini-card">
        <!-- 
       <span class="icono-busqueda" set:html={icon(faMagnifyingGlass).html[0]}></span>
       -->

       <!-- 
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icono-busqueda">
    <path fill="#FF65C3" d="M505 442.7L405.3 343c28.3-34.9 45.3-79 45.3-127C450.6 97.9 352.7 0 225.3 0S0 97.9 0 216.1 97.9 432.2 225.3 432.2c48 0 92.1-17 127-45.3L442.7 505c4.5 4.5 10.6 7 17 7s12.5-2.5 17-7c9.4-9.4 9.4-24.6 0-34zM225.3 382.2c-91.7 0-166-74.3-166-166S133.6 50.2 225.3 50.2s166 74.3 166 166-74.3 166-166 166z"/>
  </svg>
  -->
  <img src={iconoLupa.src} alt="" class="icono-busqueda" />

    </div>
    
    </div>

     <div class="info-card2">
      <h3>Profesionales Comprometidos</h3>
      <p>Contratamos expertos motivados y dedicados a impulsar tu negocio con sus habilidades y conocimientos.</p>
   
    <div class="mini-card2">
 

    <img src={iconoGrupo.src} alt="" class="icono-users" />
    
  
  </div>

    </div>

     <div class="info-card1">
      <h3>Ahorro Significativo</h3>
      <p>Ahorra hasta un 70% en costos de personal mientras ofreces salarios competitivos a profesionales talentosos.</p>
    
      <div class="mini-card3">
 
    <img src={iconoMoney.src} alt="" class="icono-money" />
    
    </div>
    
    </div>


  </div>
  
                                         <!--CARRUSEL 1-->
 
<div class="cards">
  <div class="card1">
    <div class="icon-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
    <h3 class="card-title">Talento Profesional</h3>
    <p class="cards-text">
      Con Oberstaff, puedes acceder a <span class="cards-talento">talento profesional altamente calificado</span> en América Latina que trabaja 100% de forma remota para ti, a una fracción des coste de tener empleados de plantilla local.
    </p>
    <div class="dashed-line"></div>
    <p class="card-text1">
     Gracias a nuestro servicio de outsourcing simplificamos todo el proceso: desde la búsqueda y selección, hasta la contratación de profesionales comprometidos y motivados.
    </p>
  </div>

  <div class="card1">
    <div class="icon-container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M296 88C296 74.7 306.7 64 320 64C333.3 64 344 74.7 344 88L344 128L400 128C417.7 128 432 142.3 432 160C432 177.7 417.7 192 400 192L285.1 192C260.2 192 240 212.2 240 237.1C240 259.6 256.5 278.6 278.7 281.8L370.3 294.9C424.1 302.6 464 348.6 464 402.9C464 463.2 415.1 512 354.9 512L344 512L344 552C344 565.3 333.3 576 320 576C306.7 576 296 565.3 296 552L296 512L224 512C206.3 512 192 497.7 192 480C192 462.3 206.3 448 224 448L354.9 448C379.8 448 400 427.8 400 402.9C400 380.4 383.5 361.4 361.3 358.2L269.7 345.1C215.9 337.5 176 291.4 176 237.1C176 176.9 224.9 128 285.1 128L296 128L296 88z"/></svg>

    </div>
    <h3 class="card-title">Beneficio Mutuo</h3>
    <p class="cards-text">
    Estos expertos no solo están <span class="cards-talento">dedicados a impulsar tu negocio,</span> si no que también tienen la oportunidad de mejorar su calidad de vida, ganando salarios más competitivos que los disponibles en sus países.
    </p>
    <div class="dashed-line"></div>
    <p class="card-text1">
      Todo esto mientras tú ahorras hasta un 70% en costos de personal comparado con la contratación local.
    </p>
  </div>
</div>


 <button class="btn-primary2">¿ESTÁS INTERESADO?</button>
</section>




<!-- COMO FUNCIONA SECTION -->

<section class="como-funciona-section">
  <h2>¿Cómo funciona?</h2>
  <p>
    Un proceso simple y efectivo para incorporar <span class="alto-nivel">talento de alto nivel</span> a tu empresa.
  </p>

  <div class="info-cards-como-hacemos">
    <!-- Card 1 -->
    <div class="info-card1-como-hacemos">
      <div class="inner-card">
        <div class="card-number">1</div>
        <h3>Nos cuentas tus necesidades</h3>
        <p>Cuéntanos el perfil que buscas, y nosotros nos encargamos de identificar a los mejores candidatos en Sudamérica que se ajusten perfectamente a tus requerimientos.</p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="info-card2-como-hacemos">
      <div class="inner-card">
        <div class="card-number2">2</div>
        <h3>Nosotros contratamos a la persona</h3>
        <p>Contratamos al candidato seleccionado y le pagamos cada mes. Sin contrato de permanencia y sin complicaciones ni riesgos para ti.</p>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="info-card1-como-hacemos">
      <div class="inner-card">
        <div class="card-number">3</div>
        <h3>Trabaja con los mejores</h3>
        <p>Comienza a trabajar con un profesional altamente calificado y paga menos que en tu país de origen, mientras accedes a talento de clase mundial.</p>
      </div>
    </div>
  </div>
</section>


<!-- perfil-testimonio -->

<section class="testimonio-section">
  <p class="testimonio-intro">
    Con Oberstaff, la confianza se construye con <span class="highlight">cada experiencia</span> 
  </p>

  <div class="testimonio-card">
    <div class="testimonio-header">
      <img class="testimonial-avatar" src={testimonio3.src} alt="Foto de perfil" />
      <div class="info-profesional">
        <h3 class="nombre-profesional">Fernando Calderon</h3>
        <p class="profesion-profesional">CEO de www.bybeautypro.com</p>
      </div>
    </div>

    <p class="testimonio-texto">
      "Gracias a Oberstaff, hemos podido incorporar talento de primer nivel a nuestro equipo a un costo muy competitivo. El proceso fue rápido y sin complicaciones".
    </p>

    <div class="estrellas">
      ★★★★★
    </div>
  </div>

 
</section>



<!--carrusel 1 -->



<h2 class="beneficiosh2">¿Qué beneficios <span class="highlight">te ofrece Oberstaff?</span> </h2>
  <p class="beneficiosp" >Obtendrás acceso a profesionales altamente capacitados, flexibilidad operativa y soluciones personalizadas que <span class="highlight">transformarán tu equipo.</span> </p>


<section class="carrusel-section">
    
  <div class="carrusel-wrapper">
    <div class="carrusel-container">

      <div class="card">
        <div class="card-content">
        <div class="icon">
      <img src={iconoGrupo.src} alt="" class="icono-users" /> 
    </div>
          <h3>Ahorro del 70% en costos</h3>
        <p>
      Al contratar talento remoto con Oberstaff, puedes <span class="highlight">reducir hasta un 70% en costos de personal,</span> evitando gastos adicionales como seguridad social u otros beneficios laborales.
      </p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
         <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
           <h3>Selección simplificada</h3>
      <p>
        Nos encargamos de <span class="highlight">todo el proceso de búsqueda,</span> selección y contratación, ahorrándote tiempo y esfuerzo para que te enfoques en lo que realmente importa: tu negocio
      </p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
         <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
         <h3>Talento altamente calificado</h3>
      <p>
        Todos los candidatos son rigurosamente evaluados a través de pruebas psicométricas y seleccionados cuidadosamente <span class="highlight"> para cumplir con tus requerimientos específicos.</span>
      </p>
        </div>
      </div>

     <div class="card">
        <div class="card-content">
          <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
          <h3>Integración total</h3>
      <p>
        Los profesionales que contratas trabajarán en tu misma zona horaria y se <span class="highlight">integrarán perfectamente a tu equipo,</span> interactuando como un compañero más.
      </p>
        </div>
      </div>

        <div class="card">
        <div class="card-content">
         <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
          <h3>Flexibilidad total</h3>
      <p>
       No exigimos compromisos de permanencia. Puedes ajustar o solicitar la cancelación del servicio cuando lo necesites, <span class="highlight">sin penalizaciones ni complicaciones.</span> 
      </p>
        </div>
      </div>


        <div class="card">
        <div class="card-content">
         <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
           <h3>Escalabilidad inmediata</h3>
      <p>
      Amplía o reduce tu equipo fácilmente <span class="highlight">según las necesidades de tu negocio</span> y la evolución de tus proyectos, sin trámites complicados ni largos procesos.
      </p>
        </div>
      </div>


        <div class="card">
        <div class="card-content">
         <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
           <h3>Protección total</h3>
      <p>
      Al no ser tú quien contrata directamente al profesional, quedas protegido de cualquier reclamación laboral o contractual, <span class="highlight">ofreciéndote tranquilidad y seguridad.</span> 
      </p>
        </div>
      </div>

      
        <div class="card">
        <div class="card-content">
         <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
            <h3>Soporte continuo</h3>
      <p>
     Nuestro equipo está disponible para ofrecerte asistencia y garantizar una integración fluida y exitosa de tu talento remoto en <span  class="highlight">cualquier momento que lo necesites.</span> 
      </p>
        </div>
      </div>


       <div class="card">
        <div class="card-content">
         <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
           <h3>Mejora de la competitividad</h3>
      <p>
     Al reducir costos operativos y aumentar la eficiencia de tu equipo, <span class="highlight">tu empresa se vuelve más competitiva</span>  en el mercado global actual.
      </p>
        </div>
      </div>


    </div>
  </div>

  <div class="controls">
    <button class="arrow left">&#x279C;</button>
    <div class="indicator-bar">
      <div class="indicator-dot"></div>
    </div>
    <button class="arrow right">&#x279C;</button>
  </div>
</section>

  <button class="btn-primary3">  
  <span class="btn-icon"><img src={iconoCalen.src} alt="" /></span>
  <span class="btn-text">PROGRAMA UNA CONSULTA GRATIS</span>
</button> 

<script src="./scripts/carrusel2.js" type="module"></script>




<!--transforma tu empresa -->

<section class="cta-section">
  <h2>Transforma tu <span class="highlight">empresa</span></h2>
  <p class="cta-subtext">
    Nuestros profesionales están listos para ofrecerte estrategias innovadoras y personalizadas que te llevarán a <span class="highlight">alcanzar y superar tus objetivos de negocio.</span>
  </p>
   <button class="btn-primary4">
  <span class="btn-icon"><img src={iconoCalen.src} alt="" /></span>
  <span class="btn-text">AGENDA UNA CONSULTA GRATIS</span>
</button>
  <p class="cta-highlight">
    Ofrecemos una amplia variedad de perfiles para satisfacer tus necesidades.
  </p>
</section>




<!--CARDS VARIEDAD -->

<section class="cards-variedad-section">

<div class="cards-variedad">
  <div class="card1">
    <div class="icon-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M264 112L376 112C380.4 112 384 115.6 384 120L384 160L256 160L256 120C256 115.6 259.6 112 264 112zM208 120L208 160L128 160C92.7 160 64 188.7 64 224L64 320L576 320L576 224C576 188.7 547.3 160 512 160L432 160L432 120C432 89.1 406.9 64 376 64L264 64C233.1 64 208 89.1 208 120zM576 368L384 368L384 384C384 401.7 369.7 416 352 416L288 416C270.3 416 256 401.7 256 384L256 368L64 368L64 480C64 515.3 92.7 544 128 544L512 544C547.3 544 576 515.3 576 480L576 368z"/></svg>
    </div>
    <h3 class="card-title">Gestión de Redes</h3>
    <p class="cards-text">
      Estrategias de contenido y crecimiento orgánico para redes sociales
    </p>
    <ul class="lista">
    <li>Creación de contenido</li>
        <li>Calendarización</li>
          <li>Análisi de métricas</li>
    </ul>
  </div>

  <div class="card1">
    <div class="icon-container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M296 88C296 74.7 306.7 64 320 64C333.3 64 344 74.7 344 88L344 128L400 128C417.7 128 432 142.3 432 160C432 177.7 417.7 192 400 192L285.1 192C260.2 192 240 212.2 240 237.1C240 259.6 256.5 278.6 278.7 281.8L370.3 294.9C424.1 302.6 464 348.6 464 402.9C464 463.2 415.1 512 354.9 512L344 512L344 552C344 565.3 333.3 576 320 576C306.7 576 296 565.3 296 552L296 512L224 512C206.3 512 192 497.7 192 480C192 462.3 206.3 448 224 448L354.9 448C379.8 448 400 427.8 400 402.9C400 380.4 383.5 361.4 361.3 358.2L269.7 345.1C215.9 337.5 176 291.4 176 237.1C176 176.9 224.9 128 285.1 128L296 128L296 88z"/></svg>

    </div>
    <h3 class="card-title">Redacción Profesional</h3>
    <p class="cards-text">
  Contenido persuasivo que convierte visitantes en clientes
    </p>
  
    <ul class="lista">
      <li>Copywriting estratégico</li>
       <li>Guiones para video</li>
        <li>Edición profesional</li>
    </ul>
  </div>


<div class="card1">
    <div class="icon-container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M296 88C296 74.7 306.7 64 320 64C333.3 64 344 74.7 344 88L344 128L400 128C417.7 128 432 142.3 432 160C432 177.7 417.7 192 400 192L285.1 192C260.2 192 240 212.2 240 237.1C240 259.6 256.5 278.6 278.7 281.8L370.3 294.9C424.1 302.6 464 348.6 464 402.9C464 463.2 415.1 512 354.9 512L344 512L344 552C344 565.3 333.3 576 320 576C306.7 576 296 565.3 296 552L296 512L224 512C206.3 512 192 497.7 192 480C192 462.3 206.3 448 224 448L354.9 448C379.8 448 400 427.8 400 402.9C400 380.4 383.5 361.4 361.3 358.2L269.7 345.1C215.9 337.5 176 291.4 176 237.1C176 176.9 224.9 128 285.1 128L296 128L296 88z"/></svg>

    </div>
    <h3 class="card-title">Marketing Digital</h3>
    <p class="cards-text">
  Campañas efectivas con enfoque en ROI
    </p>
  
    <ul class="lista">
      <li>Publicidad digital</li>
       <li>SEO avanzado</li>
        <li>Analítica predictiva</li>
    </ul>
  </div>


  <div class="card1">
    <div class="icon-container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M296 88C296 74.7 306.7 64 320 64C333.3 64 344 74.7 344 88L344 128L400 128C417.7 128 432 142.3 432 160C432 177.7 417.7 192 400 192L285.1 192C260.2 192 240 212.2 240 237.1C240 259.6 256.5 278.6 278.7 281.8L370.3 294.9C424.1 302.6 464 348.6 464 402.9C464 463.2 415.1 512 354.9 512L344 512L344 552C344 565.3 333.3 576 320 576C306.7 576 296 565.3 296 552L296 512L224 512C206.3 512 192 497.7 192 480C192 462.3 206.3 448 224 448L354.9 448C379.8 448 400 427.8 400 402.9C400 380.4 383.5 361.4 361.3 358.2L269.7 345.1C215.9 337.5 176 291.4 176 237.1C176 176.9 224.9 128 285.1 128L296 128L296 88z"/></svg>

    </div>
    <h3 class="card-title">Soporte Ejecutivo</h3>
    <p class="cards-text">
  Asistencia especializada para gestión empresarial
    </p>
  
    <ul class="lista">
      <li>Gestión de agenda</li>
       <li>Atención al cliente</li>
        <li>Organización documental</li>
    </ul>
  </div>

   <div class="card1">
    <div class="icon-container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M296 88C296 74.7 306.7 64 320 64C333.3 64 344 74.7 344 88L344 128L400 128C417.7 128 432 142.3 432 160C432 177.7 417.7 192 400 192L285.1 192C260.2 192 240 212.2 240 237.1C240 259.6 256.5 278.6 278.7 281.8L370.3 294.9C424.1 302.6 464 348.6 464 402.9C464 463.2 415.1 512 354.9 512L344 512L344 552C344 565.3 333.3 576 320 576C306.7 576 296 565.3 296 552L296 512L224 512C206.3 512 192 497.7 192 480C192 462.3 206.3 448 224 448L354.9 448C379.8 448 400 427.8 400 402.9C400 380.4 383.5 361.4 361.3 358.2L269.7 345.1C215.9 337.5 176 291.4 176 237.1C176 176.9 224.9 128 285.1 128L296 128L296 88z"/></svg>

    </div>
    <h3 class="card-title">Estrategia Comercial</h3>
    <p class="cards-text">
  Optimización de procesos comerciales y aumento de ventas
    </p>
  
    <ul class="lista">
      <li>Generación de leads</li>
       <li>Automatización CRM</li>
        <li>Email marketing</li>
    </ul>
  </div>

   <div class="card1">
    <div class="icon-container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="icono-maletin"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#000000" d="M296 88C296 74.7 306.7 64 320 64C333.3 64 344 74.7 344 88L344 128L400 128C417.7 128 432 142.3 432 160C432 177.7 417.7 192 400 192L285.1 192C260.2 192 240 212.2 240 237.1C240 259.6 256.5 278.6 278.7 281.8L370.3 294.9C424.1 302.6 464 348.6 464 402.9C464 463.2 415.1 512 354.9 512L344 512L344 552C344 565.3 333.3 576 320 576C306.7 576 296 565.3 296 552L296 512L224 512C206.3 512 192 497.7 192 480C192 462.3 206.3 448 224 448L354.9 448C379.8 448 400 427.8 400 402.9C400 380.4 383.5 361.4 361.3 358.2L269.7 345.1C215.9 337.5 176 291.4 176 237.1C176 176.9 224.9 128 285.1 128L296 128L296 88z"/></svg>

    </div>
    <h3 class="card-title">Diseño Gráfico</h3>
    <p class="cards-text">
 Soluciones visuales profesionales para tu marca
    </p>
  
    <ul class="lista">
      <li>Identidad visual</li>
       <li>Edición multimedia</li>
        <li>Animaciones 2D/3D</li>
    </ul>
  </div>
  

</div>
</section>



<section class="subrayado-section">
  <p class="subrayado-texto">
   ¿Estas interesado?<span> Ve todos los perfiles disponibles</span> 
  </p>

<div class="hero-video">
  <video autoplay muted loop playsinline>
    <source src={banner} type="video/mp4" />
    
  </video>

  <h2 class="subrayado-titulo">Sé parte de la globalización digital y <span class="highlight">ahorra en costes de personal</span></h2>

  <div class="subrayado-card">
    <h3>Impulsa tu negocio con el <span class="highlight"> mejor talento de Sudamérica</span></h3>
    <button class="btn-rosado">
  <span class="btn-icon"><img src={iconoUser.src} alt="" /></span>
  <span class="btn-text">COMIENZA HOY</span>
</button>
  </div>
</section>



                                                <!--CASOS DE EXITO -->

<section class="cta-section">
  <h2>Casos de <span class="highlight">éxito</span></h2>
  <p class="cta-subtext">
    En Oberstaff, creemos que nuestros resultados <span class="highlight">hablan mucho más</span> que las palabras
  </p>
 
  <p class="cta-highlight3">
    Unete a quienes confían en nosotros
  </p>
</section>

                                              <!--CARRUSEL --> 
  
<div class="testimonial-section">
  <div class="testimonial-card">
    <img src={testimonio1.src} alt="" class="testimonial-video" />

    <div class="testimonial-profile">
      <img class="testimonial-avatar" src={testimonio1.src} alt="Foto de perfil" />
      <div class="testimonial-info">
        <h4 class="testimonial-name">Shadai Iborra</h4>
        <p class="testimonial-role">CEO de @amediastory</p>
        <div class="testimonial-stars">
          <span>★★★★★</span>
        </div>
      </div>
    </div> 

    <p class="testimonial-text">
      Con Oberstaff pude dar trabajo a dos personas a tiempo completo, ahorrando costes de contratación, espacios de oficina y salario que tendría al hacerlo en España. Lo mejor de todo es que todo está incluido en una misma factura. Con Oberstaff, encontré la solución perfecta para mis necesidades de contratación remota y optimización de costes.
    </p>
  </br>
     <button class="testimonial-btn">
  <span class="btn-icon"><img src={iconoPlay.src} alt="" /></span>
  <span class="btn-text">VER TESTIMONIO</span>
</button>
  </div>

  <div class="testimonial-card">
     <img src={testimonio3.src} alt="" class="testimonial-video" />  

    <div class="testimonial-profile">
      <img class="testimonial-avatar" src={testimonio3.src} alt="Foto de perfil" />
      <div class="testimonial-info">
        <h4 class="testimonial-name">Fernando Calderon</h4>
        <p class="testimonial-role">CEO de www.bybeautypro.com</p>
        <div class="testimonial-stars">
          <span>★★★★★</span>
        </div>
      </div>
    </div>

    <p class="testimonial-text">
      Estaba en busca de un editor de video para mi empresa y despúes de varias búsquedas sin éxito, encontré a Oberstaff en Instagram. Desde nuestra primera llamada, su profesionalismo y calidad de trabajo me dejaron impresionado. Ahora, gracias a su excelente servicio, he expandido mi contrato con ellos para incluir más personal.
    </p>

     <button class="testimonial-btn">
  <span class="btn-icon"><img src={iconoPlay.src} alt="" /></span>
  <span class="btn-text">VER TESTIMONIO</span>
</button>
  </div>



  <div class="testimonial-card">
    <img src={testimonio2.src} alt="" class="testimonial-video" /> 

    <div class="testimonial-profile">
      <img class="testimonial-avatar" src={testimonio2.src} alt="Foto de perfil" />
      <div class="testimonial-info">
        <h4 class="testimonial-name">Kate McCaferty</h4>
        <p class="testimonial-role">KM Real Estate</p>
        <div class="testimonial-stars">
        <span>★★★★★</span>
        </div>
      </div>
    </div>

    <p class="testimonial-text">
      "I've been working with Oberstaff now for about 2 years. Me and my company has a great experience", from teh moment you sign up you immediately have the best team looking up for you into 20000 profiles. It is actually unbelievable the money you can save.
    </p>
</br></br>
   <button class="testimonial-btn">
  <span class="btn-icon"><img src={iconoPlay.src} alt="" /></span>
  <span class="btn-text">VER TESTIMONIO</span>
</button>
  </div>


</div>


<div class="highlight-box">
  <div class="highlight-icon">
    <img src={iconoTel.src} alt="" />
  </div>
  <p class="highlight-text">
    Agenda tu llamada y avancemos juntos en el camino hacia tus metas
  </p>
</div>

<!--pREGUNTAS FRECUENTES -->

<section class="faq-section">
  <h2 class="faq-title">Preguntas <span class="highlight">Frecuentes</span></h2>

  <div class="faq-container">
    <div class="faq-item">
      <button class="faq-question">¿La persona trabajará solo para mi?</button>
      <div class="faq-answer">
        <p>Sí, 100% para ti a jornada completa.</p>
      </div>
    </div>

    <div class="faq-item"> 
      <button class="faq-question">¿Puedo prescindir de la persona cuando quiera?</button>
      <div class="faq-answer">
        <p>Sí. Solamente requerimos un preaviso de 30 días.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">¿Qué coste tiene prescindir de sus servicios?</button>
      <div class="faq-answer">
        <p>$0. No te penalizamos por prescindir del servicio.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">¿Tengo que pagar beneficios como la seguridad social?</button>
      <div class="faq-answer">
        <p>No, en lo absoluto. Uno de los principales beneficios de nuestro sistema de outsourcing de personal es que no tienes que pagar beneficios como seguridad social. Se te factura como un servicio profesional externo, parecido a como pagarías por servicios legales o de contabilidad.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">¿Puedo entrevistar a la persona antes de que comience a trabajar para mi?</button>
      <div class="faq-answer">
        <p>Claro que sí. Te enviaremos de 3 a 5 perfiles para que los entrevistes y hagas una selección.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">¿Cómo controlas al equipo a distancia?</button>
      <div class="faq-answer">
        <p>Nosotros no lo hacemos, lo harás tú. Te recomendaremos herramientas tecnológicas y métodos. Para gestionar al equipo y sus tareas, además de servicios de telefonía VOIP para que la persona tenga un teléfono de empresa en tu país, independientemente de dónde se encuentre en el mundo.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">¿Cuánto tiempo tardas desde la contratación hasta la selección?</button>
      <div class="faq-answer">
        <p>Por lo general entre 2 semanas y 1 mes. Todo depende del número de perfiles solicitados.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">¿Qué hacemos con la diferencia horaria?</button>
      <div class="faq-answer">
        <p>Los perfiles pueden trabajar a tu conveniencia y en el horario que mejor le convenga a tu empresa.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">¿Cómo me hacen el cobro?</button>
      <div class="faq-answer">
        <p>Mediante cobro automático mensual a una tarjeta de débito o crédito.</p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">¿Cuánto cuesta?</button>
      <div class="faq-answer">
        <p>El costo mensual de nuestro servicio varía en función del nivel educativo, la experiencia profesional y el país de residencia del candidato. En Oberstaff, ofrecemos un único cargo mensual fijo que incluye el salario del empleado y todos nuestros costos administrativos, como el cambio de divisas y las tarifas por transferencias bancarias. De este modo, el precio que te proporcionamos es el costo total, sin cargos ocultos ni sorpresas adicionales.</p>
      </div>
    </div>
  </div>


  <button class="btn-primary5">icono ¿TIENES MAS PREGUNTAS?</button>
</section>


<script src="./scripts/preguntas_frecuentes.js" type="module"></script>



<!--CONTACTO -->
 
<section class="contact-section">
  <h2>Contáctanos</h2>
  <p>Déjanos saber tus requerimientos y nos pondremos en contacto contigo <span class="highlight">lo más pronto posible.</span></p>

  <form class="contact-form">
    <input type="text" placeholder="Nombres" required>
    <input type="text" placeholder="Apellidos" required>
    <input type="email" placeholder="Email" required>

    <div class="phone-group">
      <input type="text" class="country-code" placeholder="+1" required>
      <input type="tel" class="phone-number" placeholder="Teléfono" required>
    </div>

    <textarea placeholder="Mensaje" required></textarea>

    <div class="checkbox-group">
      <input type="checkbox" id="terms" required>
      <label for="terms">Al facilitar su número de télefono, aceptas recibir mensajes SMS relacionados con atención al cliente. La frecuencia de los mensajes puede variar. Pueden aplicarse tarifas estándar de mensajes y datos. Responde STOP para cancelar la suscripción. Responde Help para obtener ayuda.</label>
    </div>

    <input type="text" class="verification" placeholder="Código de verificación" required>

    <button type="submit">ENVIAR MENSAJE</button>
  </form>
</section>


<div class="hero-video">
  <video autoplay muted loop playsinline>
    <source src={banner} type="video/mp4" />
    
  </video>
</div>

<footer class="footer-section">
  <!-- Logo -->
   
        <img src={logo.src} class="footer-logo" alt=""/> 
      

  <!-- Copyright -->
  <p class="footer-copy">© Oberstaff 2025</p>

  <!-- Frase subrayada -->
  <p class="footer-highlight">Políticas de Privacidad y Uso de Cookies</p>

  <!-- Íconos sociales -->
  <div class="footer-icons">
    <img src={iconoLi.src} class="footer-icon" alt=""/> 
   <img src={iconoFb.src} class="footer-icon" alt=""/> 
   <img src={iconoIg.src} class="footer-icon" alt=""/> 
   <img src={iconoTik.src} class="footer-icon" alt=""/> 
  </div>

  <!-- Frase debajo -->
  <p class="footer-message">PATROCINADORES OFICIALES</p>

  <!-- Patrocinadores -->
  <div class="footer-sponsors">
    <img src={logoOnePlanet.src}  alt=""/>  
    <img src={logoTop.src}  alt=""/> 
     <img src={logoComercio.src}  alt=""/> 
     
  </div>

  <!-- Texto final -->
  <p class="footer-small">Oberstaff es una empresa comprometida con la calidad y la excelencia en el servicio. Todos los derechos reservados.</p>
</footer>



                                             <!--ESTILO --> 
<style> 

                              /*SECCION PRINCIPAL */ 

.hero {
  background: linear-gradient(to bottom, #fff 0%, #fff 80%, #f8f8f8 100%);
  padding-top: 25px;
}

.hero-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-text {
  margin-bottom: 2rem;
  
}

.hero-text h2 {
    font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;
  
  
  margin-bottom: 25px;
 
  line-height: 1;  
}

.hero-text p {
    font-family: 'Inter', sans-serif;
  font-weight: 500; /* peso medio (mixed/intermedio) */
  font-size: 16px;
  max-width: 400px;
  margin: 0 auto 1.5rem;
  color: #000000;
  line-height: 1.1;
}

 .hero-content {
      max-width: 100%;
    }

.hero-image {
  flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 12px;
  
  }

.hero-image img {
background: linear-gradient(to bottom, #ffffff 0%, rgb(243, 163, 212) 50%, #ffffff 100%);
  width: 160%; 
    max-width: none; /* eliminamos el límite */
    height: auto;
    margin-top: -3rem;
    display: block;
    transform: translateX(-15%); 
    /*transform: scaleX(-1);*/
}


.highlight{ 
  color: #FF65C3;
}

.btn-primary {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  display: inline-flex;
  justify-content: center;
  gap: 0.4rem;
  padding: 10px;
  background-color: #FF6ACD;
  color: #FFFFFF;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 999px;
cursor: pointer;
  text-align: center;
  font-size: 15px;
  
 
}




                                 /*VIDEO PRINCIPAL*/ 

.profiles-section {

  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: 0;
}

.profiles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0; /* quitamos espacio normal */
}

.profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;

  margin-left: -20px; 
}

.profile-img:first-child {
  margin-left: 0; 
}

.profile-card p {
 font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium */
  font-size: 14px;
  color: #000000;
  margin-top: 0.3rem;
  
}

.stars {
  margin-top: 0.2rem;
  color: #FABF27;
  font-size: 1.1rem;
}


.profiles-section {
  text-align: center;
  margin: 0;
  padding: 1.5rem 1rem;
}


/*
.video-container {
  margin-top: 0.8rem; 
  display: flex;
  justify-content: center;
}

.video-container video {
  width: 90%;          
  max-width: 320px;    
  border-radius: 12px; 
  object-fit: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

*/
 
.video-container {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
}

.video-wrapper {
  position: relative;
  width: 90%;
  max-width: 320px;
}

.video-wrapper video {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* Capa de elementos encima del video */
.video-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* permite que el clic pase al video */
}

.video-play-btn {
  font-size: 40px;
  color: white;
 
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto; /* este sí puede recibir clic */
}

.video-caption { 
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-size: 14px;
  transition: opacity 0.3s ease;
  width: 160px; 
} 


                                          /*QUE HACEMOS*/ 


.que-hacemos-section {
 background-color: #FFD5EE; 
  margin-top: 2rem;          
  padding: 2rem 1.5rem;     
  text-align: center;
  color: black;
  border-radius: 70px;
}

.que-hacemos-section h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 0.8rem;
  color: #FF6AC3;
  
  
}

.que-hacemos-section p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
 font-weight: 500;
  max-width: 600px;
  margin: 0 auto;
    line-height: 1.1;
}

.alto-nivel{
  color: #FF65C3; 

}


                                        /*CARDS 1*/ 

.info-cards {
  margin-top: 2.5rem; 
  display: flex;
  flex-direction: column; 
  gap: 1rem; 
  align-items: center;
  
}


                                             
.info-card1 {
   position: relative; 
  background: #25262B;
  padding: 1.6rem;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  text-align: left;
 
  transform: rotate(-4deg);
      margin-bottom: -15px;
}

.info-card1 h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0.4rem;
  color: #FFFFFF;
 
}

.info-card1 p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
    line-height: 1.1;
    text-align: justify;
}

.mini-card {
  position: absolute;
  top: -10px; 
  right: -10px; 
  background: #FFFFFF; 
  color: black;
      padding-top: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.1rem;
  border-radius: 8px;
  font-size: 0.75rem;
 transform: rotate(15deg);
  
}


.mini-card2 {
  position: absolute;
  bottom: -10px; 
  left: -10px; 
  background: #FFFFFF; 
  color: black;
      padding-top: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.1rem;
  border-radius: 8px;
  font-size: 0.75rem;
 transform: rotate(15deg);
  
}

img.icono-users{
  transform: rotate(-15deg);
}

.mini-card3 {
  position: absolute;
  bottom: -10px; 
  right: -10px; 
  background: #FFFFFF;
  color: black;
      padding-top: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.1rem;
  border-radius: 8px;
  font-size: 0.75rem;
 transform: rotate(15deg);
  
}

.info-card2 {
   position: relative; 
  background: #FF65C3;
  padding: 1.6rem;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  text-align: left;
 
  transform: rotate(4deg);
      margin-bottom: -15px;
}

.info-card2 h3 {
      white-space: nowrap;
 font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0.4rem;
  color: #FFFFFF;
}

.info-card2 p {
  
  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #FFFFFF;
    line-height: 1.1;
     text-align: justify;
}



                                          /*CARRUSEL 1*/ 

.cards {
 margin-top: 4rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;         /* habilita scroll horizontal */
  scroll-snap-type: x mandatory; /* hace que cada card se “pegue” al centro */
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
  
}

.card1 {
   flex: 0 0 85%; 
  background: #FFFFFF;
  border-radius: 30px;
  padding: 1.6rem;
  text-align: left;
  scroll-snap-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon-img {
  width: 40px;
  height: 40px;
}

.card-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
  font-size: 18px;
  margin-bottom: 0.5rem;
  color: #25262B;
  margin-bottom: 20px;
  font-weight: bold;
}

.card1 .cards-text {
  text-align: center;
  font-family: 'Inter', sans-serif;
 
  font-size: 15px;
  line-height: 1.1;
  color: #25262B; 
  
}




.cards-talento{
  color: #FF65C3;
}



.dashed-line {
  border-top: 2px dashed #ccc; /* línea punteada */
  margin: 1rem auto;
  width: 100%; 
}


.card1 .card-text1{
  text-align: justify; /*justify*/
   text-justify: inter-word;
   font-family: 'Inter', sans-serif; 
    font-style: italic; 
  font-size: 11px; 
  
  color: #25262B;

}


.btn-primary2 {
    font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 10px;
  background-color: #F062BC;
  color: #FFFFFF;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 999px;
  font-weight: bold;
font-size: 15px;
  text-align: center;
  margin-top: 50px;

}


.icono-telefono{
   width: 17px;   
  height: 17px;
  margin-right: 0.3rem; 
  vertical-align: middle;
}



.icono-busqueda, .icono-users, .icono-maletin, .icono-money{
 width: 25px;        
  height: 25px;
  
}




.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #ffffff 0%, #f5a5d6 70%, #f59dd4 100%);
  width: 50px;
  height: 50px;
  border-radius: 30%; 
  margin: 0 auto 1rem auto; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}





                                              /*COMO FUNCIONA*/ 


.como-funciona-section {
   background: linear-gradient(
    to bottom,
    #ffffff 0%,         
    rgb(233, 188, 212) 50%,        
    #ffffff 100%       
  );
  margin-top: 0.3rem;          
  padding: 2rem 1.5rem;      
  text-align: center;
  color: black;
  border-radius: 70px;
}

.info-cards-como-hacemos {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

/* Card base (fondo externo) */
.info-card1-como-hacemos,
.info-card2-como-hacemos {
  position: relative;
  border-radius: 25px;
  padding: 0.6rem;
  width: 100%;
  max-width: 240px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card1-como-hacemos {
      margin-bottom: -20px;
  background: #25262B;
  transform: rotate(6deg);
  padding-top: 25px;
}

.info-card2-como-hacemos {
  background: #FF65C3;
  transform: rotate(-6deg);
      margin-bottom: -20px;
      padding-top: 25px;
}

/* Contenedor interno blanco */
.inner-card {
  background: #FFFFFF;
  border-radius: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  text-align: left;
  width: 100%;
  height: 90%;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Número circular */
.card-number {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #25262B;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


.card-number2 {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #FF65C3; 
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 32px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


.inner-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #FF65C3;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  text-align: center;
}

.inner-card p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #25262B;
  line-height: 1.1;
  text-align: center;
}




.alto-nivel {
  color: #FF65C3; 
}



.como-funciona-section h2{
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   font-size: 36px;
  color: #FF65C3;
  
}

.como-funciona-section p{

   font-family: 'Inter', sans-serif;
       font-style: normal;                
    font-weight: 500;                  
    font-size: 15px; 
  color: #25262B;
    margin-top: 10px;
}


                                   /*TESTIMONIO*/ 

.testimonio-section {
 background: linear-gradient(
    to bottom,
    #ffffff 0%,         
    #e59fc5 50%,       
    #ffffff 100%       
  );
  text-align: center;
  padding: 2rem 1.5rem;
  border-radius: 70px;
}

.testimonio-intro {
  font-family: 'Poppins', sans-serif;
   font-weight: bold;
   font-size: 20px;
  color: #25262B;
  margin-bottom: 1.5rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.testimonio-card {
  background-color: #25262B;
  color: white;
  border-radius: 20px 20px 20px 0; 
  border-bottom-left-radius: 0;
  padding: 1.5rem;
  max-width: 340px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.testimonio-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
      gap: 10px;
}

.foto-profesional {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white; /* aquí luego irá la foto */
  margin-right: 1rem;
}

.info-profesional h3 {
  margin: 0;
  font-size: 18px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.info-profesional p {
 font-family: "Poppins", sans-serif; /* Tipografía */
    font-style: normal;                  /* No cursiva */
    font-weight: 400; 
  margin-top: 2px;
  font-size: 14px;
  color: #beb5b5;
  
}

.testimonio-texto {
  font-family: "Inter", sans-serif; /* Tipografía */
    font-style: italic;                /* Cursiva */
    font-weight: 300; 
  font-size: 13px;
  line-height: 1.1;
   color: #beb5b5;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.estrellas {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 0.90rem;
  color: #FFD700; 
  text-shadow: none; 
}



                                                   /*CARRUSEL */ 

      

.beneficiosh2{
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   font-size: 36px;
  color: #25262B;
  padding: 1rem 1rem; 
     text-align:center; 
}

.beneficiosp{

   font-family: 'Inter', sans-serif;
       font-style: normal;                
    font-weight: 500;                  
    font-size: 15px; 
  color: #25262B;
   text-align:center; 
   padding-bottom: 25px;
}

.carrusel-section {
  position: relative;
 background-color: #FFA8DD;
  padding: 2rem 0 4rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding-top: 50px;
    padding-bottom: 30px;
}

.carrusel-wrapper {
  width: 90%;
  
}

.carrusel-container {
  display: flex;
  transition: transform 0.6s ease;
  align-items: center;
}

.card {
  position: relative;
  overflow: hidden;
  min-width: 280px;
  height: 340px; /* más alta */
  margin: 0 10px;
  background-color: #FFEFF9;
  border-radius: 40px;
  flex-shrink: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.7;
 
}

.card.active {
  background-color: white;
  transform: scale(1.1) rotate(0deg);
  opacity: 1;
  z-index: 2;
  
}

.card.prev {
  transform: scale(0.9) rotate(-8deg);
  opacity: 0.8;
}

.card.next {
  transform: scale(0.9) rotate(8deg);
  opacity: 0.8;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 240px;
  padding: 15px; 
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #ffffff 0%, #f5a5d6 70%, #f59dd4 100%);
  width: 50px;
  height: 50px;
  border-radius: 30%; 
  margin: 0 auto 1rem auto; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

h3 {
      font-family: 'Poppins', sans-serif;
     font-weight: bold;
  margin: 0;
  font-size: 17px; 
  font-weight: bold;
  color: #404146;
}

p {
  font-family: 'Inter', sans-serif;
     font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
  color: #25202B;
}

/* 🔹 Controles debajo */
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.arrow {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 900;
  transform: rotate(180deg); /* para la izquierda */
}

.arrow.right {
  transform: rotate(0deg);
}

/* 🔹 Indicador */
.indicator-bar {
  position: relative;
  width: 100px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
}

.indicator-dot {
  position: absolute;
  top: -4px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  transition: left 0.4s ease;
}

.btn-primary3 {
    display: inline-flex;          /* permite alinear icono y texto */
  align-items: center;           /* centra verticalmente */
  justify-content: center;       /* centra horizontalmente */
  gap: 0.5rem; 
    font-family: 'Poppins', sans-serif;
    font-weight:500;
  background: #25262B; 
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  cursor: pointer;
  margin-top: 25px; 
  margin-left: 38px;

}

                                      /*TRANSFORMA TU EMPRESA*/ 


.cta-section {
 
  text-align: center;
  padding: 1rem 1.5rem;
  
 
}

.cta-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin-bottom: 1.6rem;
  margin-top: 25px;
}

.cta-section .cta-subtext {
  font-family: 'Inter', sans-serif;
   font-style: normal;                /* No cursiva */
    font-weight: 500;
  font-size: 17px;
  color: #25262B;
  line-height: 1.1;
  
}

.cta-section .cta-highlight {
  font-family: "Inter", sans-serif; /* Tipografía */
    font-style: italic;                /* Cursiva */
    font-weight: 500;
  background-color: #25262B;
  color: #FFFFFF;
  display: inline-block;
  padding: 0.9rem 1.2rem;
  border-radius: 18px;
  line-height: 1.1;
  max-width: 300px;
  margin-top: 50px;
  font-size: 14px;
}




.btn-primary4 {
    display: inline-flex;          /* permite alinear icono y texto */
  align-items: center;           /* centra verticalmente */
  justify-content: center;       /* centra horizontalmente */
  gap: 0.5rem; 
    font-family: 'Poppins', sans-serif;
    font-weight:500;
  background: #FF65C3;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  cursor: pointer;
  margin-top: 25px; 
}




.cards-variedad-section {
 background-color: #FFA8DD; 
  margin-top: 2rem;          /* margen respecto al video */
  padding: 2rem 1.5rem;      /* espacio interno */
  text-align: center;
  color: black;
  border-radius: 70px;
}


.cards-variedad {

  display: flex;
  gap: 1rem;
  overflow-x: auto;         /* habilita scroll horizontal */
  scroll-snap-type: x mandatory; /* hace que cada card se “pegue” al centro */
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
  
}


.lista {
  margin-top: 20px;         /* Espacio arriba de la lista */
  padding-left: 20px;       /* Espacio para las viñetas */
  list-style-position: outside;
}

.lista li {
  font-family: "Inter", sans-serif;
  font-weight: 500;          /* Medium */
  font-size: 14px;
  color: #25262B;
  margin-bottom: 10px; 
}

/* Cambiar color de las viñetas */
.lista li::marker {
  color: #FF65C3;           /* Rosado para las viñetas */
  font-size: 20px;
}






.subrayado-section {
  background-color: #ffffff;
  text-align: center;
 /* padding: 2rem 1.5rem;*/
  margin-top: 2rem;
  border-radius: 50px;
}

.subrayado-texto {
font-family: 'Poppins', sans-serif;
  font-weight: bold;
   font-style: italic;  
  font-size: 20px;
  line-height: 1.5;
  color: #25262B;
  margin-bottom: 1rem;
}

.subrayado-texto span {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
   font-style: italic;
     font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #FF65C3;
  text-decoration-thickness: 2px;
  color: #FF65C3;
}

.subrayado-titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 26px;
padding: 2rem 1.5rem;
  color: #25262B;
  margin-bottom: 1.5rem;
}

.subrayado-card {
  background-color: #25262B;
  color: #FFFFFF;
  border-radius: 60px;
  padding: 3rem 2rem;
 
  margin: 0 auto;
  text-align: center;
}

.subrayado-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1.2rem;
  color: #FFFFFF;
}

.btn-rosado {
 display: inline-flex;          /* permite alinear icono y texto */
  align-items: center;           /* centra verticalmente */
  justify-content: center;       /* centra horizontalmente */
  gap: 0.5rem; 
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
 
  background: #FF65C3;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  cursor: pointer;
}



.cta-highlight2 {

  color: #FF65C3;
  display: inline-block;
  padding: 0.9rem 1.2rem;
  border-radius: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1;
  max-width: 300px;
  margin-top: 50px;
}


.cta-highlight3 {

  color: #FF65C3;
  display: inline-block;
  padding: 0.9rem 1.2rem;
  border-radius: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  line-height: 1.1;
  max-width: 300px;
  margin-top: 10px;
}



                                         /*CARRUSEL - CASOS DE EXITO*/ 



.testimonial-section {
  background: linear-gradient(to bottom, #ffffff 0%, #f3bddb 50%, #ffffff 100%);
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
}

.testimonial-card {
  flex: 0 0 85%;
  background: #fff;
  border-radius: 20px;
  padding: 1.2rem;
  scroll-snap-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.testimonial-video {
  width: 100%;
  height: 180px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.testimonial-profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonial-avatar {
 width: 40px;
  height: 40px; 
  border-radius: 50%;        /* hace que sea circular */
  object-fit: cover;         /* asegura que la imagen llene el círculo sin deformarse */
  flex-shrink: 0;
}

.testimonial-info {
  margin-left: 0.8rem;
}

.testimonial-name {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FF65C3;
 
}

.testimonial-role {
font-family: 'Poppins', sans-serif;
font-weight: 400;
  font-size: 14px;
  color: #25262B;
  margin-top: -1px;
 
}

.testimonial-stars span {
  font-size: 0.9rem;
  color: #FFD700;
}

.testimonial-text {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight:300;
  font-size: 12px;
  text-align: justify;
  line-height: 1.4;
  color: #25262B;
  margin-bottom: 1rem;
}

.testimonial-btn {
    display: inline-flex;          /* permite alinear icono y texto */
  align-items: center;           /* centra verticalmente */
  justify-content: center;       /* centra horizontalmente */
  gap: 0.5rem; 
    font-family: 'Poppins', sans-serif;
    font-weight:500;

  margin-left: 36px;
  background: #FF65C3;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  cursor: pointer;
}



.highlight-box {
  background: #FF65C3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      margin-left: 15px;
          margin-right: 15px;
}

.highlight-icon {
  width: 32px;
  height: 32px;
  margin-right: 0.8rem;
  flex-shrink: 0;
}

.highlight-icon svg {
  width: 100%;
  height: 100%;
}

.highlight-text {
  font-family: 'Inter', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size: 15px;
  line-height: 1.4;
  color: white;
  margin-top: -5px;
}


                                         /*PREGUNTAS FRECUENTES*/ 

.faq-section {
  background: #fdd5ee;
  border-radius: 50px;
  padding: 2rem 1rem;
  margin-top: 60px;
}

.faq-title {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
 
  color: #25262B;
  font-size: 25px;
 
  margin-bottom: 3.5rem;
    margin-top: 1rem;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.faq-item {
  background: #F562BD;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  
}

.faq-item2 {
  background: #25262B;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  
}

.faq-question {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
font-size: 15px;
  text-align: left;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

.faq-question2 {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
font-size: 15px;
  text-align: left;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

.faq-question::after {
  content: '+';
  position: absolute;
  right: 1rem;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-question::after {
  transform: rotate(45deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background: #FFD6EE;
  color: #25262B;
  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;
  padding: 0 1rem;
  transition: max-height 0.3s ease, padding 0.3s ease;
  border-top: 1px solid rgba(255,255,255,0.3);
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 1rem;
}
 


.btn-primary5 {
    font-family: 'Poppins', sans-serif;
     font-weight: bold;
  display: inline-block;
  padding: 10px;
  background-color: #E860B9;
  color: #FFFFFF;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 999px;
  text-align: center;
 margin-top: 50px;
 font-size:14px;
 margin-left: 35px;

}


                                            /*CONTACTO*/ 
.contact-section {
  background-color: white;
  padding: 2rem 1.5rem;
  text-align: center;
  border-radius: 40px;
  margin-top: 2rem;
}

.contact-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #FF65C3;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact-section p {
  font-family: 'Inter', sans-serif;

  font-size: 0.9rem;
  color: #25262B;
  margin-bottom: 1.5rem;
}

.contact-form {
  background-color: #FFA8DD;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  border: none;
  border-radius: 20px;
  padding: 0.8rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  color: #25262B;
  background-color: white;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.phone-group {
  display: flex;
  gap: 0.5rem;
  width: 90%;
}

.phone-group .country-code {
  width: 25%;
  text-align: center;
}

.phone-group .phone-number {
  width: 75%;
}

.checkbox-group {
  display: flex;
  align-items: flex-start; /* Alinea el inicio del texto con el checkbox */
  gap: 0.5rem;
  width: 90%;
  text-align: left;
}

.checkbox-group input[type="checkbox"] {
  margin-top: 1px; /* Ajuste fino para centrar el checkbox con la primera línea */
}


.checkbox-group label {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #25262B;
  line-height: 1.4;
}



.verification {
  width: 90%;
  background-color: white;
}

.contact-form button {
  background-color: #25262B;  
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.8rem 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 25px;
}

.contact-form button:hover {
  background-color: #000;
}
  



                                            /*FOOTER*/ 
.footer-section {
  background-color: white;
  padding: 2rem 1.5rem;
  text-align: center;
  border-radius: 40px 40px 0 0;
  
}

.footer-logo {
  width: 170px;
  margin-bottom: 1rem;
}

.footer-copy {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #25262B;
  margin-bottom: 0.3rem;
}

.footer-highlight {
  color: #FF65C3;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: 1.5rem;
  margin-top:25px;
}
 
.footer-icons { 
  background-color: #FFEAF7;     
  border-radius: 10px;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 3.5rem;

  
  width: 100vw;             /* ocupa todo el ancho visible de la ventana */
  position: relative;       /* asegura que se mantenga dentro del flujo normal */
  left: 50%;                /* corrige márgenes del contenedor padre */
  right: 50%;
  margin-left: -50vw;       /* truco para alinear completamente al borde */
  margin-right: -50vw;

  box-sizing: border-box;
  margin-bottom: 20px; 
}

.footer-icon {
  width: 17px;
  height: 17px;
}

.footer-message {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #25262B;
 
}

.footer-sponsors {
    display: flex;
  flex-direction: column; /* ← los coloca en columna */
  justify-content: center;
  align-items: center;
  gap: 10px;
 
}

.footer-sponsors img {
 width: 110px; /* ← ajusta el tamaño a gusto */
  height: auto;
}

.footer-small {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #AFAFB2;
  opacity: 0.8;
}





@media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }

    .hero-image {
      width: 100%;
      padding-top: 1.5rem;
      padding-left: 1.5rem;
    }


    .hero-video{
      margin: 0;
  padding: 0;
  width: 100vw; /* ancho total de la ventana */
  overflow: hidden;
    }

    .hero-video video {
width: 100vw; /* ancho total */
  height: auto;
  display: block;
}


.carrusel-wrapper {
    width: 95%;
  }

  .card {
    min-width: 220px;
    height: 260px;
  }
  .icon {
    font-size: 30px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
  }
  .controls {
    gap: 1rem;
  }
  .arrow {
    font-size: 1.4rem;
  }

  
}



</style>
